@media screen and (max-width:75em){
    #navbar hr {
        width: 85%;
    }
    h1 {
        font-size: 32px;
    }
}

@media screen and (max-width:40em){
    #navbar hr {
        width: 75%;
    }
    #navbar ul {
        flex-direction: column;
    }
    h1 {
        font-size: 16px;
    }
}
