/* Global css settings */

@font-face {
    src: url("rajdhani-regular.ttf");
    font-family: "rajdhani";
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "rajdhani";
    text-align: center;
    /* Main formater for tex, rem is scaled to this */
    /* em is per box based scaling */
    font-size: 16px;
}

body {
    background-color: silver;
    display: flex;
    justify-content: center;
}

a {
    /* All links to be blank and without decoration
    Will override in articles */
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

/* Relative font sizes */

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 { 
    font-size: 1.5rem;
}

#wrapper {
    width: 70%;
}

#header {
    width: 100%;
    margin-bottom: 10px;
}

#site-title {
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

#navbar ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#navbar hr {
    width: 100%;
    text-align: center;
    border: 0px;
    margin: auto;
    background-color: black;
    height: 16px;
}

#navbar ul li {
    display: inline-block;
    margin: 10px;
    margin-top: 0px;
    text-decoration: none;
}

#footer {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

#footer ul li {
    display: inline-block;
    margin-right: 10px;
    width: 32px;
}

#footer ul li:last-child {
    margin-right: 0px;
}

/* Index style */

#index-pane img {
    width: 15rem;
    height: auto;
    padding: 1rem 0rem;
}

/* We create simple black inline block */
.blink {
    display: inline-block;
    position: relative;
    top: 3px;
    align-content: center;
    /* We create animation called blink 
    that repeats every second forever */
    animation: blink 1s step-end infinite;
    /* We are using em here because we want to inherit
    from h4. If somehow h4 changes, we want to catch this */
    width: 0.5em;
    height: 1.5em;
    background: black;
}

/* We define blink operation */

@keyframes blink {
   0% {
     opacity: 0;
   }
   50% {
     opacity: 1;
   }
   100% {
     opacity: 0;
   }
}

/* Apps (startpage) style */

#apps {
    margin: auto;
    width: 70%;
}

#apps ul {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

#apps ul li {
    display: flexbox;
    width: 8rem;
    /* We want fixed spacing */
    margin: 20px;   
}

/* Add text from alt tag */
#apps ul li a:after
{
    content: attr(alt);
    font-size: 1.6rem;
}

#apps ul li img {
    width: 8rem;
    margin-bottom: 5px;
    background: transparent;
    border-radius: 20px;
}

/* Blog style */

#blog-posts {
    margin: auto;
    width: 100%;
}

#blog-posts ul {
    display: flex;
    flex-direction: column;
}

#blog-posts ul li {
    display: flexbox;  
    margin: 10px;
    text-align: left;
}

#blog-posts p {
    width: 100%;
    text-align: justify;
    margin: auto;
}

/* Article style */

#article {
    width: 80%;
    margin: auto;
}

#article p {
    font-size: 1.3rem;
    text-align: justify;
    margin-bottom: 10px;
}

#article p:last-child {
    margin-bottom: 0px;
}

#article a {
    font-size: 1.3rem;
    color: blue;
}

#article img {
    height: 25rem;
}

/* Preuzeto sa https://www.sylvaindurand.org/overlay-image-in-pure-css/#_  
    Delovalo je zanimljivo, nisam znao kako ovo da napisem zapravo
    Nisam sredio da bude responsive
*/

.overlay {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: flex;
    align-items: center;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;
}
  
.overlay img{
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    margin: auto;
    transform: scale(0.95);
    transition: transform .3s;
}
  
.overlay:target {
    visibility: visible;
    outline: none;
    cursor: default;
    opacity: 1;
}
  
.overlay:target img {
    transform: scale(1.5);
}

#form-table {
    margin: 10px auto;
}

#form-wrapper form th {
    display: none;
}