#content {
    margin: auto;
    width: 70%;
}

#content ul {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

#content ul li {
    display: flexbox;
    width: 8rem;
    margin: 20px;   
}


#content ul li a:after
{
    content: attr(alt);
    font-size: 1.6rem;
}

#content ul li img {
    width: 8rem;
    margin-bottom: 5px;
    background: transparent;
    border-radius: 20px;
}