#content {
    width: 80%;
    margin: auto;
    /* background-color: red; */
    /* text-align: left; */
}

#content p {
    font-size: 1.3rem;
    text-align: justify;
    margin-bottom: 10px;
}

#content p:last-child {
    margin-bottom: 0px;
}

#content a {
    font-size: 1.3rem;
    color: blue;
}

#content img {
    height: 500px;
}

/* Preuzeto sa https://www.sylvaindurand.org/overlay-image-in-pure-css/#_  
    Delovalo je zanimljivo, nisam znao kako ovo da napisem zapravo
    Nisam sredio da i ova stvar bude responsive
    Mozda ako stignem do subote
*/

.overlay {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: flex;
    align-items: center;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;
}
  
.overlay img{
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    margin: auto;
    transform: scale(0.95);
    transition: transform .3s;
}
  
.overlay:target {
    visibility: visible;
    outline: none;
    cursor: default;
    opacity: 1;
}
  
.overlay:target img {
      transform: scale(1.5);
}