#content {
    margin: auto;
    width: 70%;
    /* background-color: gold; */
}

#content ul {
    display: flex;
    width: 100%;
    /* margin-top: 32px; */
    justify-content: center;
    /* text-align: center; */
    /* flex-direction: row; */
    /* margin: auto; */
    flex-wrap: wrap;
    /* background-color: tomato; */
}

#content ul li {
    display: flexbox;
    /* margin-right: 10px; */
    width: 8rem;
    margin: 20px;
    /* background-color: blue ; */
    
}


#content ul li a:after
{
    content: attr(alt);
    font-size: 20px;
}

#content ul li img {
    width: 8rem;
    margin-bottom: 5px;
    background: transparent;
    /* border: 5px solid black; */
    /* background-color: brown; */
    border-radius: 20px;
}

/* #content ul li {
    display: inline-block;
    margin-right: 10px;
    width: 32px;
}

#content ul li:last-child {
    margin-right: 0px;
} */
